InterfaceSystemController/Service References/ServiceReference/SystemController.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="initialize_List">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="route" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="action" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="initialize_ListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="initialize_ListResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="initialize_ListSoapIn">
    <wsdl:part name="parameters" element="tns:initialize_List" />
  </wsdl:message>
  <wsdl:message name="initialize_ListSoapOut">
    <wsdl:part name="parameters" element="tns:initialize_ListResponse" />
  </wsdl:message>
  <wsdl:portType name="SystemControllerSoap">
    <wsdl:operation name="initialize_List">
      <wsdl:input message="tns:initialize_ListSoapIn" />
      <wsdl:output message="tns:initialize_ListSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SystemControllerSoap" type="tns:SystemControllerSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="initialize_List">
      <soap:operation soapAction="http://tempuri.org/initialize_List" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SystemControllerSoap12" type="tns:SystemControllerSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="initialize_List">
      <soap12:operation soapAction="http://tempuri.org/initialize_List" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SystemController">
    <wsdl:port name="SystemControllerSoap" binding="tns:SystemControllerSoap">
      <soap:address location="http://localhost:59252/SystemController.asmx" />
    </wsdl:port>
    <wsdl:port name="SystemControllerSoap12" binding="tns:SystemControllerSoap12">
      <soap12:address location="http://localhost:59252/SystemController.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>